@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar__tile--active{
    background-color: #006edc;
}

.react-date-picker__wrapper, .react-datetime-picker__wrapper {
    border: none;
}

.react-date-picker__inputGroup__input, .react-datetime-picker__inputGroup__input {
    outline: none;
}

/* width */
.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
    background: none; 
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; 
}